*{
    margin: 0;
    padding: 0;
    padding: 3px;
}
nav{
    background-color: black;
    color: white;
    padding: 20px 20px 15px 20px;
}
span{
    margin: 120px;
    padding: 10px;
}
#main{
    color: orange;
    font-size: 20px;
}
button{
    background-color: orange;
    color: black;
    padding: 3px;
    border-radius: 5px;
}
